.footer-wrapper{
  background-color: #202122;
  height: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-links{
   
    display: flex;
   margin: 0;

}
.footer-links li{
    margin:  0 2rem;
}
.footer-links li a{
    color: white;
    font-size: 2rem;
}
.copyright{
    color: white;
    font-size: 2rem;
}